@model Equustopia.WebApplication.Models.Main.UserData

@{
    ViewBag.Title = " - " + Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/details/details.css" />
    <link rel="stylesheet" href="~/css/frames-storage.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
</head>

<div class="main-info">
    <div class="details-green-rectangle"></div>
    <div class="details-info">
        <img src="~/resources/icons/profile-picture-icon.svg" class="user-icon" alt="user profile icon"/>
        <div class="text-info">
            <span class="user-name">@Model.name</span>
        </div>
    </div>

    <div class="frames-storage" style="margin-bottom: 50px">
        <span class="left-aligned-text">Horses</span>
        <div id="my-horses" class="items-frame">
            @foreach (var horse in Model.Horses)
            {
                <button class="element-button" onclick="viewHorseDetails(@horse.id)">
                    <img src="" class="horse-photo" alt="horse photo"/>
                    <span class="horse-name">@horse.name
                        <p class="horse-date">@horse.birthDate?.ToString("dd/MM/yyyy")</p>
                    </span>
                </button>
            }
        </div>

        <span class="left-aligned-text">Riding centres</span>
        <div id="my-centres" class="items-frame">
            @foreach (var centre in Model.EquestrianCentres)
            {
                <button class="element-button" onclick="viewCentreDetails(@centre.id)">
                    <img src="" class="horse-photo" alt="centre photo"/>
                    <span class="horse-name">@centre.name
                        <p class="horse-date">@centre.address</p>
                    </span>
                </button>
            }
        </div>
    </div>
</div>

<script src="~/js/shared.js"></script>