@model Equustopia.WebApplication.ViewModels.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = " - " + Model.Name;
}

<head>
    <link rel="stylesheet" href="~/css/user/user-main-page.css" />
    <link rel="stylesheet" href="~/css/frames-storage.css" />
</head>

<div class="user-main-container">
    <div class="brown-rectangle"></div>
    <img src="~/resources/icons/profile-picture-icon.svg" class="user-icon" alt="user profile icon" />
    <span class="user-name">@Model.Name</span>
    
    <div class="frames-storage" style="margin-bottom: 50px">
        <span class="left-aligned-text">My horses</span>
        <div id="my-horses" class="items-frame">
            @foreach (var horse in Model.Horses)
            {
                <button class="element-button" onclick="viewHorseDetails(@horse.id)">
                    <img src="" class="horse-photo" alt="horse photo"/>
                    <span class="horse-name">@horse.name
                        <p class="horse-date">@horse.birthDate?.ToString("dd/MM/yyyy")</p>
                    </span>
                </button>
            }
            <button id="new-horse-button" class="element-button" onclick="openAddHorseView()">
                <span class="new-element-text">add new <br/> horse</span>
                <img src="~/resources/icons/plus-blue.svg" class="plus-icon" alt="plus icon"/>
            </button>
        </div>
        
        <span class="left-aligned-text">My riding centres</span>
        <div id="my-centres" class="items-frame">
            @foreach (var centre in Model.EquestrianCentres)
            {
            <button class="element-button" onclick="viewCentreDetails(@centre.id)">
                <img src="" class="horse-photo" alt="centre photo"/>
                <span class="horse-name">@centre.name
                    <p class="horse-date">@centre.address</p>
                </span>
            </button>
            }
            <button id="new-centre-button" class="element-button" onclick="addNewCentre()">
                <span class="new-element-text">add new <br/> riding centre</span>
                <img src="~/resources/icons/plus-blue.svg" class="plus-icon" alt="plus icon"/>
            </button>
        </div>
    </div>
    
    
</div>

<script src="~/js/user/userMainPage.js"></script>
<script src="~/js/shared.js"></script>

@await Html.PartialAsync("../User/AddNewHorsePartialView")
